ul.nav a:hover { 
    background-color: #60d394 !important; 
}

div {
    padding-bottom: 2rem;
}

.jumbotron.text-center {
    background-color: #60d394;
}

body {
    background-color: #7bf1a8;
}

a, a:hover {
    color: #2D6A4F;
}